<% include ../include/indexTop %>
<h1>Forgotten Password</h1>
<% include include/flashErrorMsg %>
<% include include/flashSucMsg %>
<form>
    <label class="arrow-form">Email Address</label>
    <br><input class="arrow-form"></input>
    <input type="submit" class="arrow-button" value="Request Password" style="margin-top: 2em;">
</form>
<% include ../include/indexBottom %>