<% include ../include/indexTop %>
<h1>Person Name - Not Verified</h1>
<p>Email: example@example.com</p>
<p>Univserity Email: example@example.ac.uk</p>

<h2>Current Tournaments</h2>

<div class="tournament-box">
	<h2>Arrow eSports Season 6</h2>
	<h2>Dota 2</h2>
</div>

<div class="tournament-box">
	<h2>Arrow eSports Season 6</h2>
	<h2>Rocket League</h2>
</div>

<div class="tournament-box">
	<h2>Arrow eSports Season 6</h2>
	<h2>Overwatch</h2>
</div>

<h2>Current Teams</h2>

<div class="team-box">
	<h2>Team A</h2>
	<h3>Player 1 - Carry</h3>
	<h3>Player 2 - Mid</h3>
	<h3>Player 3 - Offlane</h3>
	<h3>Player 4 - Support</h3>
	<h3>Player 5 - Support</h3>
</div>

<div class="team-box">
	<h2>Team B</h2>
	<h3>Player 1 - Carry</h3>
	<h3>Player 2 - Mid</h3>
	<h3>Player 3 - Offlane</h3>
	<h3>Player 4 - Support</h3>
	<h3>Player 5 - Support</h3>
</div>

<div class="team-box">
	<h2>Team C</h2>
	<h3>Player 1 - Carry</h3>
	<h3>Player 2 - Mid</h3>
	<h3>Player 3 - Offlane</h3>
	<h3>Player 4 - Support</h3>
	<h3>Player 5 - Support</h3>
</div>

<div class="team-box">
	<h2>Team D</h2>
	<h3>Player 1 - Carry</h3>
	<h3>Player 2 - Mid</h3>
	<h3>Player 3 - Offlane</h3>
	<h3>Player 4 - Support</h3>
	<h3>Player 5 - Support</h3>
</div>

<% include ../include/indexBottom %>