<% include ../include/indexTop %>
<style>
  .position-box{
    float:left;
    width: 250px;
    margin: 0 1em 1em 0;
    background-color: #242629;
    padding: 5px 20px 20px 20px;
  }
  .empty-slot{
    background-color: grey;
    text-align: center;
    padding:1em;
  }
  .empty-slot-solo{
    float: left;
    background-color: grey;
    text-align: center;
    padding: 1em;
    min-width: 200px;
    margin: 0 1em 1em 0;
  }
  .edit-icon{
    float:right;
    color:white;
    font-size:20px;
    padding: 1em 0;
  }

  .delete-icon{
    float: right;
    color: #942626;
    font-size: 20px;
  }
</style>

<h1>Team</h1>
<h2>Current Roster</h2>
<h2>Main Roster</h2>
<div>
  <div class="position-box">
    <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
    <h3>Carry</h3>
    <div class="empty-slot">
      <h3>Player Name</h3>
      <h3>Email</h3>
    </div>
  </div>

  <div class="position-box">
    <h3>Middle</h3>
    <div class="empty-slot"></div>
  </div>

  <div class="position-box">
    <h3>Offlane</h3>
    <div class="empty-slot"></div>
  </div>

  <div class="position-box">
    <h3>Support</h3>
    <div class="empty-slot"></div>
  </div>

  <div class="position-box">
    <h3>Support</h3>
    <div class="empty-slot"></div>
  </div>
</div>


<div style="clear: both;padding-top:2em;">
  <h2>Stand Ins</h2>

  <div class="position-box">
    <h3>Stand In</h3>
    <div class="empty-slot"></div>
  </div>

  <div class="position-box">
    <h3>Stand In</h3>
    <div class="empty-slot"></div>
  </div>
</div>

<div style="clear: both;padding-top:2em;">
  <h2>Registered Players</h2>

  <p><label class="arrow-form">Give this Link to players to invite them to this team</label>
  <input class="arrow-form" value="arrowesports.co.uk/a;sldjf;aklsdjfaspdghjpasdg"></p>
  
  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player A</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player B</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player C</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player D</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player E</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player F</h3>
    <h3>Email</h3>
  </div>

  <div class="empty-slot-solo">
    <i class="fa fa-times delete-icon" aria-hidden="true"></i>
    <h3>Player G</h3>
    <h3>Email</h3>
  </div>
</div>

<% include ../include/indexBottom %>