<% if(errMsg.length > 0){ %>
    <div class="alert alert-danger">
     <%= errMsg %>
    </div>
<% } if(sucMsg.length > 0){ %>
    <div class="alert alert-danger">
     <%= sucMsg %>
    </div>
<% } %>