<!DOCTYPE html>
<html>
<head>
    <title>Arrow eSports</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/maincss.css">
</head>    
<body>
<div class="mainContent">
    <div class="banner">
        <img src="/images/arrow_esports_arrow.png" style="height:100%;float:left;">
        <span class="arroweSportsTitle">Arrow eSports</span>
    </div>
    <div>
        <ul class="header">
          <li class="header"><a class="header" href="tournaments">Tournaments</a></li>
          <li class="header"><a class="header" href="about">About</a></li>
          <li style="float:right;"class="header"><a class="header" href="auth/signIn">Sign In</a></li>
        </ul>
    </div>
    <div style="padding: 2em;overflow: hidden;">