    </div>
    <div class="bottomBanner">
        <div class="bottomIcons">
            <a href="https://www.facebook.com/arrowesports/"><i class="fa fa-facebook-square fa-2x icons"><span style="font-family: 'Oswald', sans-serif"> facebook</span></i></a>
        </div>
        <div class="bottomIcons">
            <a href="https://twitter.com/UK_Arrow"><i class="fa fa-twitter fa-2x icons"><span style="font-family: 'Oswald', sans-serif"> Twitter</span></i></a>
        </div>
        <div class="bottomIcons">
            <a href="https://twitter.com/UK_Arrow"><i class="fa fa-youtube fa-2x icons"><span style="font-family: 'Oswald', sans-serif"> YouTube</span></i></a>
        </div>
    </div>
</div>
</body>
</html>