<div class="item" data-value="Aberystwyth University">Aberystwyth University</div>
<div class="item" data-value="Anglia Ruskin University">Anglia Ruskin University</div>
<div class="item" data-value="Arts University Bournemouth">Arts University Bournemouth</div>
<div class="item" data-value="Aston University">Aston University</div>
<div class="item" data-value="Bangor University">Bangor University</div>
<div class="item" data-value="Bath Spa University">Bath Spa University</div>
<div class="item" data-value="Birkbeck, University of London">Birkbeck, University of London</div>
<div class="item" data-value="Birmingham City University">Birmingham City University</div>
<div class="item" data-value="Bishop Grosseteste University College Lincoln">Bishop Grosseteste University College Lincoln</div>
<div class="item" data-value="Bournemouth University">Bournemouth University</div>
<div class="item" data-value="Brunel University">Brunel University</div>
<div class="item" data-value="Bucks New University">Bucks New University</div>
<div class="item" data-value="Canterbury Christ Church University">Canterbury Christ Church University</div>
<div class="item" data-value="Cardiff Metropolitan University">Cardiff Metropolitan University</div>
<div class="item" data-value="Cardiff University">Cardiff University</div>
<div class="item" data-value="Central School of Speech & Drama">Central School of Speech & Drama</div>
<div class="item" data-value="City University London">City University London</div>
<div class="item" data-value="Coventry University">Coventry University</div>
<div class="item" data-value="Cranfield University">Cranfield University</div>
<div class="item" data-value="De Montfort University">De Montfort University</div>
<div class="item" data-value="Durham University">Durham University</div>
<div class="item" data-value="Edge Hill University">Edge Hill University</div>
<div class="item" data-value="Edinburgh Napier University">Edinburgh Napier University</div>
<div class="item" data-value="European School of Economics">European School of Economics</div>
<div class="item" data-value="Falmouth University">Falmouth University</div>
<div class="item" data-value="Glasgow Caledonian University">Glasgow Caledonian University</div>
<div class="item" data-value="Glasgow School of Art">Glasgow School of Art</div>
<div class="item" data-value="Glyndwr University">Glyndwr University</div>
<div class="item" data-value="Goldsmiths, University of London">Goldsmiths, University of London</div>
<div class="item" data-value="Harper Adams University College">Harper Adams University College</div>
<div class="item" data-value="Heriot-Watt University">Heriot-Watt University</div>
<div class="item" data-value="Heythrop College, University of London">Heythrop College, University of London</div>
<div class="item" data-value="Imperial College London">Imperial College London</div>
<div class="item" data-value="Keele University">Keele University</div>
<div class="item" data-value="King's College London">King's College London</div>
<div class="item" data-value="Kingston University">Kingston University</div>
<div class="item" data-value="Lancaster University">Lancaster University</div>
<div class="item" data-value="Leeds Beckett University">Leeds Beckett University</div>
<div class="item" data-value="Liverpool Hope University">Liverpool Hope University</div>
<div class="item" data-value="Liverpool John Moores University">Liverpool John Moores University</div>
<div class="item" data-value="London Business School">London Business School</div>
<div class="item" data-value="London Metropolitan University">London Metropolitan University</div>
<div class="item" data-value="London School of Hygiene and Tropical Medicine, University of London">London School of Hygiene and Tropical Medicine, University of London</div>
<div class="item" data-value="London South Bank University">London South Bank University</div>
<div class="item" data-value="Loughborough University">Loughborough University</div>
<div class="item" data-value="Manchester Metropolitan University">Manchester Metropolitan University</div>
<div class="item" data-value="Middlesex University">Middlesex University</div>
<div class="item" data-value="Newcastle University">Newcastle University</div>
<div class="item" data-value="Northumbria University">Northumbria University</div>
<div class="item" data-value="Nottingham Trent University">Nottingham Trent University</div>
<div class="item" data-value="Oxford Brookes University">Oxford Brookes University</div>
<div class="item" data-value="Plymouth University">Plymouth University</div>
<div class="item" data-value="Queen Margaret University">Queen Margaret University</div>
<div class="item" data-value="Queen Mary, University of London">Queen Mary, University of London</div>
<div class="item" data-value="Queen's University Belfast">Queen's University Belfast</div>
<div class="item" data-value="Richmond, The American International University in London">Richmond, The American International University in London</div>
<div class="item" data-value="Roehampton University">Roehampton University</div>
<div class="item" data-value="Royal Academy of Music, University of London">Royal Academy of Music, University of London</div>
<div class="item" data-value="Royal Agricultural University">Royal Agricultural University</div>
<div class="item" data-value="Royal College of Art">Royal College of Art</div>
<div class="item" data-value="Royal College of Music">Royal College of Music</div>
<div class="item" data-value="Royal Conservatoire of Scotland">Royal Conservatoire of Scotland</div>
<div class="item" data-value="Royal Holloway, University of London">Royal Holloway, University of London</div>
<div class="item" data-value="Royal Veterinary College University of London">Royal Veterinary College University of London</div>
<div class="item" data-value="School of Advanced Study, University of London">School of Advanced Study, University of London</div>
<div class="item" data-value="School of Oriental and African Studies, University of London">School of Oriental and African Studies, University of London</div>
<div class="item" data-value="Scotland’s Rural College">Scotland’s Rural College</div>
<div class="item" data-value="Sheffield Hallam University">Sheffield Hallam University</div>
<div class="item" data-value="Southampton Solent University">Southampton Solent University</div>
<div class="item" data-value="St George's, University of London">St George's, University of London</div>
<div class="item" data-value="Staffordshire University">Staffordshire University</div>
<div class="item" data-value="Swansea University">Swansea University</div>
<div class="item" data-value="Teesside University">Teesside University</div>
<div class="item" data-value="The Courtauld Institute of Art, University of London">The Courtauld Institute of Art, University of London</div>
<div class="item" data-value="The London School of Economics and Political Science">The London School of Economics and Political Science</div>
<div class="item" data-value="The Robert Gordon University">The Robert Gordon University</div>
<div class="item" data-value="The University of Buckingham">The University of Buckingham</div>
<div class="item" data-value="The University of Edinburgh">The University of Edinburgh</div>
<div class="item" data-value="The University of Hull">The University of Hull</div>
<div class="item" data-value="The University of Manchester">The University of Manchester</div>
<div class="item" data-value="The University of Northampton">The University of Northampton</div>
<div class="item" data-value="The University of Nottingham">The University of Nottingham</div>
<div class="item" data-value="The University of Sheffield">The University of Sheffield</div>
<div class="item" data-value="The University of Warwick">The University of Warwick</div>
<div class="item" data-value="The University of Winchester">The University of Winchester</div>
<div class="item" data-value="The University of York">The University of York</div>
<div class="item" data-value="University College Birmingham">University College Birmingham</div>
<div class="item" data-value="University College London">University College London</div>
<div class="item" data-value="University for the Creative Arts">University for the Creative Arts</div>
<div class="item" data-value="University of Aberdeen">University of Aberdeen</div>
<div class="item" data-value="University of Abertay Dundee">University of Abertay Dundee</div>
<div class="item" data-value="University of Bath">University of Bath</div>
<div class="item" data-value="University of Bedfordshire">University of Bedfordshire</div>
<div class="item" data-value="University of Birmingham">University of Birmingham</div>
<div class="item" data-value="University of Bolton">University of Bolton</div>
<div class="item" data-value="University of Bradford">University of Bradford</div>
<div class="item" data-value="University of Brighton">University of Brighton</div>
<div class="item" data-value="University of Bristol">University of Bristol</div>
<div class="item" data-value="University of Cambridge">University of Cambridge</div>
<div class="item" data-value="University of Central Lancashire">University of Central Lancashire</div>
<div class="item" data-value="University of Chester">University of Chester</div>
<div class="item" data-value="University of Chichester">University of Chichester</div>
<div class="item" data-value="University of Cumbria">University of Cumbria</div>
<div class="item" data-value="University of Derby">University of Derby</div>
<div class="item" data-value="University of Dundee">University of Dundee</div>
<div class="item" data-value="University of East Anglia">University of East Anglia</div>
<div class="item" data-value="University of East London">University of East London</div>
<div class="item" data-value="University of Essex">University of Essex</div>
<div class="item" data-value="University of Exeter">University of Exeter</div>
<div class="item" data-value="University of Glasgow">University of Glasgow</div>
<div class="item" data-value="University of Gloucestershire">University of Gloucestershire</div>
<div class="item" data-value="University of Greenwich">University of Greenwich</div>
<div class="item" data-value="University of Hertfordshire">University of Hertfordshire</div>
<div class="item" data-value="University of Huddersfield">University of Huddersfield</div>
<div class="item" data-value="University of Kent">University of Kent</div>
<div class="item" data-value="University of Leeds">University of Leeds</div>
<div class="item" data-value="University of Leicester">University of Leicester</div>
<div class="item" data-value="University of Lincoln">University of Lincoln</div>
<div class="item" data-value="University of Liverpool">University of Liverpool</div>
<div class="item" data-value="University of London">University of London</div>
<div class="item" data-value="University of Oxford">University of Oxford</div>
<div class="item" data-value="University of Portsmouth">University of Portsmouth</div>
<div class="item" data-value="University of Reading">University of Reading</div>
<div class="item" data-value="University of Salford">University of Salford</div>
<div class="item" data-value="University of South Wales">University of South Wales</div>
<div class="item" data-value="University of Southampton">University of Southampton</div>
<div class="item" data-value="University of St Andrews">University of St Andrews</div>
<div class="item" data-value="University of Stirling">University of Stirling</div>
<div class="item" data-value="University of Strathclyde">University of Strathclyde</div>
<div class="item" data-value="University of Sunderland">University of Sunderland</div>
<div class="item" data-value="University of Surrey">University of Surrey</div>
<div class="item" data-value="University of Sussex">University of Sussex</div>
<div class="item" data-value="University of the Arts London">University of the Arts London</div>
<div class="item" data-value="University of the West of England">University of the West of England</div>
<div class="item" data-value="University of the West of Scotland">University of the West of Scotland</div>
<div class="item" data-value="University of Ulster">University of Ulster</div>
<div class="item" data-value="University of Wales">University of Wales</div>
<div class="item" data-value="University of Wales Trinity Saint David">University of Wales Trinity Saint David</div>
<div class="item" data-value="University of West London">University of West London</div>
<div class="item" data-value="University of Westminster">University of Westminster</div>
<div class="item" data-value="University of Wolverhampton">University of Wolverhampton</div>
<div class="item" data-value="University of Worcester">University of Worcester</div>
<div class="item" data-value="York St John University">York St John University</div>