h1 {
    font-family: 'Oswald', sans-serif;
    color: #3197ca;
}
h2 {
    font-family: sans-serif;
    color: #3197ca;
}
p{
    font-family: sans-serif;
    font-size: 14px;
}
h3 {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
h4{
    font-family: sans-serif;
    color: #3197ca;
}
a{
    color: inherit;
}
input.has-error{
    border: 1px solid #DC2F2F !important;
    outline:none;
}
div.error-msg{
    border: 1px solid #9C0606;
    background-color: #FFD1D1;
    border-top: none;
    padding: 5px 10px;
    display: inline-block;
}
span.error-msg{
    font-family: 'Passion One', cursive;
    font-size: 20px;
    color: #DC2F2F;
}
p.arrow-text{
    font-family: sans-serif;
    margin: 0;
    font-size: 12px;
}
body {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('../images/backgroundImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.mainContent {
    margin:0 auto;
    width: 70%;
    background-color: white;
    box-shadow: 0px 0px 20px #3197CA;
}
div.banner {
    width: 100%;
    height:200px;
    padding: 1em;
    box-sizing: border-box;
    background-image: url('../images/bannerImage.png');
    background-size: 100% 100%;
    text-align: center;
}
div.bottomBanner {
    padding: 1em;
    height: 100%;
    background-color: #333;
    overflow: hidden;
}
div.sideButtons {
    width:20%;
}
div.bottomIcons {
    width: 33%;
    float: left;
    text-align: center;
}
ul.banner-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.banner-header-loggedin{
    background-color: #382E50;
}

li.banner-header {
    float: left;
}

li.banner-header a.banner-header:hover {
    background-color: #3197ca;
}

li.banner-header a.banner-header {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
span.arroweSportsTitle {
    color: #3197ca;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin: 0 auto;
}
a.button {
    text-decoration: none;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
hr.large{
    margin: 1em 0;
}
.icons {
    color: #3197ca;
    font-size: 1.25em;
    margin: 0.5em 1.5em 0.5em 0;
}

div.arrow-form{
    padding: 10px;
    font-size: 17px;
    width: 100%;
    box-sizing : border-box;
}
.drop-down-input{
    padding: 10px !important;
    font-size: 30px !important;
}

input.arrow-form, select.arrow-form{
    padding: 10px;
    font-size: 17px;
    width: 100%;
    box-sizing : border-box;
}
label.arrow-form{
    font-family: 'Oswald', sans-serif;
    color: #3197ca;
    margin-top: 2em;
}
.arrow-button{
    border: 0;
    width:100%;
    background-color: #3197ca;
    padding:2%;
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: left;
    font-size: 15px;
    margin: 2em 0 2em 0;
}
div.sign-upbox{
    width: 30%;
    background-color: #242629;
    padding: 8%;
    margin: 1em;
    box-shadow: 10px 10px 5px #888888;
    float:left;
}
.arrow-checkbox{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.arrow-checkbox-checked{
    background-color: #3197ca;
}
.arrow-checkbox-tick{
    font-size: 24px;
    color: white;
}
div.infoMsg:before, div.sucMsg:before, div.errMsg:before{
    font-family: FontAwesome;
    font-size: 24px;
    padding-right: 10px;
}
div.infoMsg, div.sucMsg, div.errMsg{
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 13px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
div.infoMsg:before{
    color: #3197CA;
    content: "\f12a";
}
div.infoMsg{
    border: 2px solid #3197ca;
    background-color: #C8F2FF;
}
div.sucMsg:before{
    color: #35AF4F;
    content: "\f00c";
}
div.sucMsg{
    border: 2px solid #35AF4F;
    background-color: #78FF95;
}
div.errMsg:before{
    color: #FF3535;
    content: "\f00d";
}
div.errMsg{
    border: 2px solid #FF3535;
    background-color: #FF7878;
}