<% include ../include/indexTop %>
<hr>
<div style="padding: 1em;overflow: hidden;">
    <img src="images/arrow_esports_arrow.png" style="height:200px;float:left;margin-right: 1em;">
    <h1>Arrow eSports Season 6</h1>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>
    <div style="overflow: hidden;margin-top: 3em;">
        <a style="float:right;width:initial;" class="arrow-button button" href="/tournaments/arrow">
            More Information
        </a>
    </div>
</div>
<hr style="overflow: hidden;">
<% include ../include/indexBottom %>