<% include ../include/indexTop %>
<style>
    div.sideScrollButton{
        padding: 0.5em;
        border-radius: 5px;
        font-family: 'Bree Serif', serif;
        color: white;
        background-color: #3197ca;
        margin:0.5em 1.5em 0.5em 0;
    }
    div.sideScrollButton:hover{
        background-color: #124B73;
        cursor: pointer;
    }
    h2.headerTitles{
        padding: 7% 0 0 0;
        margin: 0 0 5% 0;
    }
</style>
<div id="sidebar" style="width: 30%; float:left;">
    <a class="button" href="#mainInfo">
    <div class="sideScrollButton">
        Information
    </div>
    </a>
    <a class="button" href="#structure">
    <div class="sideScrollButton">
        Structure
    </div>
    </a>
    <a class="button" href="#register">
    <div class="sideScrollButton">
        Sign Up
    </div>
    </a>
    <a class="button" href="#currentTeams">
    <div class="sideScrollButton">
        Current Teams
    </div>
    </a>
    <a class="button" href="#rules">
    <div class="sideScrollButton">
        Rules
    </div>
    </a>
</div>
<div style="width: 70%; float:left;">
    <h1>Arrow eSports Season 6</h1>

    <a id="mainInfo"><h2 class="headerTitles"> Important Information</h2></a>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>

    <a id="structure"><h2 class="headerTitles">Tornament Structure</h2></a>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>

    <a id="register"><h2 class="headerTitles">Sign Up Now</h2></a>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>

    <a id="currentTeams"><h2 class="headerTitles">Current Teams</h2></a>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>

    <a id="rules"><h2 class="headerTitles">Rules</h2></a>
    <p>Lorem ipsum dolor sit amet, pro ad perpetua salutandi philosophia. Ea pri aperiam dignissim dissentiet, no commodo appetere aliquando sed, unum menandri theophrastus quo eu. Vix laudem convenire adolescens in, duo tempor vulputate id. Soleat possim convenire in usu. Sit ea case virtute, nam te debet utinam, per facilisis definitionem no. Cu mundi tritani vel, sea partiendo periculis at. Ea mazim inciderint ius, deserunt facilisis no usu, est ex commune oporteat. Eos ocurreret dignissim consectetuer ad. Per ut modo quidam, duo ad diam mutat aperiam. In labitur propriae sit. Nec quaeque feugait ad. At vim tollit facete conclusionemque, equidem rationibus vix cu. Ex latine sanctus principes vis. Mea iusto officiis in. Labore everti tibique mel an. An nostrum facilisi singulis est, id sale viderer his. No mea odio indoctum. Ferri tantas debitis nec ne. Ne mea liber principes, ad mea autem malis dicant. Ne veniam dissentiet sed. Mel natum legendos id, te nihil similique sea.</p>
</div>
<% include ../include/indexBottom %>
<script>
var $sidebar   = $("#sidebar"), 
    $window    = $(window),
    offset     = $sidebar.offset(),
    topPadding = 15;

$window.scroll(function() {
    if ($window.scrollTop() > offset.top) {
        $sidebar.css({marginTop: $window.scrollTop() - offset.top + topPadding});
    } else {
        $sidebar.css({marginTop: 0});
    }
});
</script>